@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==================================== */
/* Custom properties and general styles */
/* ==================================== */

:root {
  --ff-main: 'Roboto', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  /* --fw-semi-bold: 600; */
  --fw-bold: 700;
  /* --fw-extra-bold: 800; */

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;
  --fs-100: 6.25em;
  --fs-116: 7.25em;
  --fs-132: 8.25em;
  --fs-144: 9rem;

  /* Text */
  --clr-title-black-text: hsla(249, 20%, 18%, 1);
  --clr-dark-blue-text: hsla(225, 43%, 35%, 1);
  --clr-grey-text: hsla(229, 19%, 77%, 1);
  --clr-electric-blue-text: hsla(212, 100%, 56%, 1);

  /* Background */
  --clr-soft-grey-bg: hsla(228, 38%, 97%, 1);
  --clr-white-bg: hsla(0, 0%, 100%, 1);
}

body {
  background: var(--clr-soft-grey-bg);
  color: var(--clr-dark-blue-text);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */
.title {
  font-size: var(--fs-24);
  font-weight: var(--fw-light);
  color: var(--clr-title-black-text);
}

.company-name {
  font-weight: var(--fw-bold);
  font-size: var(--fs-12);
}

.location {
}

.company-size {
  font-weight: var(--fw-bold);
  font-size: var(--fs-12);
}

.headquarters__text {
  font-weight: var(--fw-medium);
  font-size: var(--fs-12);
  color: var(--clr-grey-text);
}

/* ================== */
/* Links */
/* ================== */

/* ================== */
/* Buttons & inputs */
/* ================== */
.btn {
  cursor: pointer;
}

.btn--paginationItem {
  padding: 0.625em 0.875em;
  border: 1px solid var(--clr-grey-text);
  border-radius: 0.25em;
}

.btn--paginationItem:hover,
.btn--paginationItem:focus {
  border: 1px solid var(--clr-electric-blue-text);
  color: var(--clr-electric-blue-text);
}

.btn--paginationItem.active {
  background-color: var(--clr-electric-blue-text);
  border: 1px solid var(--clr-electric-blue-text);
  color: var(--clr-white-bg);
  pointer-events: none;
}

.btn--prev,
.btn--next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.btn--prev.disabled,
.btn--next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

/* ================== */
/* Utility styles */
/* ================== */
.container {
  padding: 0.75em 0.75em 1.5em;
}

.bold {
  font-weight: var(--fw-bold);
}
